@import'./components/header/Header.css';
@import'./components/content/categories/Categories.css';
@import'./components/content/pizzaBlock/PizzaBlock.css';
@import'../src/commons/slider/Slider.css';
@import "./components/content/sort/Sort.css";
@import"./commons/button/Button.css";
@import'./components/content/Content.css';
@import'./components/basket/Basket.css';

@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";


@font-face {
  font-family: 'Proxima Nova';
  src: url("./commons/fonts/ProximaNova-Black.eot");
  src: local("./commons/fonts/Proxima Nova Black"), local("ProximaNova-Black"), url("./commons/fonts/ProximaNova-Black.eot?#iefix") format("embedded-opentype"), url("./commons/fonts/ProximaNova-Black.woff") format("woff"), url("./commons/fonts/ProximaNova-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("./commons/fonts/ProximaNova-Bold.eot");
  src: local("./commons/fonts/Proxima Nova Bold"), local("ProximaNova-Bold"), url("./commons/fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("./commons/fonts/ProximaNova-Bold.woff") format("woff"), url("./commons/fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("./commons/fonts/ProximaNova-Regular.eot");
  src: local("./commons/fonts/Proxima Nova Regular"), local("ProximaNova-Regular"), url("./commons/fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("./commons/fonts/ProximaNova-Regular.woff") format("woff"), url("./commons/fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("./commons/fonts/ProximaNova-Extrabld.eot");
  src: local("./commons/fonts/Proxima Nova Extrabold"), local("ProximaNova-Extrabld"), url("./commons/fonts/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("./commons/fonts/ProximaNova-Extrabld.woff") format("woff"), url("./commons/fonts/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
  color: #232323;
}

h1 {
  font-size: 48px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}

a {
  text-decoration: none;
}

body {
  background-color: #ffdf8c;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;
}

.content {
  padding: 40px 0;
}

.content__title {
  margin: 35px 0;
}

.content__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}


.container {
  width: 90%;
  margin: 0 auto;
}

.container--cart {
  max-width: 820px;
  margin: 90px auto;
}

.container--cart .content__title {
  margin: 0;
}

.woot {
  font-weight: bold;
}